<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
        <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
	
		<nav class="contact-list">
		  {% if site.author.email %}
		      <a href="mailto:{{ site.author.email }}">
		        <i class="far fa-envelope ai-2x"></i>
		      </a> &nbsp;&nbsp;
		  {% endif %}

		  {% if site.author.github %}
			<a href="https://github.com/{{ site.author.github }}">
			  <i class="fab fa-github ai-2x"></i>
			</a> &nbsp;&nbsp;
		  {% endif %}

		  <!-- {% if site.author.twitter %}
			<a href="https://twitter.com/{{ site.author.twitter }}">
			  <i class="fab fa-twitter ai-2x"></i>
			</a> &nbsp;&nbsp;
		  {% endif %} -->
		  
		  {% if site.author.mastodon %}
			<a rel="me" href="https://{{ site.author.mastodon }}">
			 <i class="fab fa-brands fa-mastodon ai-2x"></i>
			</a> &nbsp;&nbsp;
		  {% endif %}
		  
		  {% if site.author.showCV %}
			<a href="{{ site.url }}/assets/CV-Visconti.pdf">
			  <i class="ai ai-cv ai-2x"></i>
			</a> &nbsp;&nbsp;
		  {% endif %}
		  
		  <!-- {% if site.author.orcid %}
			<a href="https://profiles.impactstory.org/u/{{ site.author.orcid }}">
			  <i class="ai ai-impactstory ai-2x"></i>
			</a>
		  {% endif %} -->
		  
		  
		</nav>
	 
	 
	 <nav class="sidebar-nav">
	    <p class="small">Last update: {{ site.lastmod }}</p>
	</nav>

	
	
  </div>
</div>
